#about-text p {
  font-family: "Hanken Grotesk";
  font-size: 8vw;
  font-weight: bold;
  color: white;
  text-align: center;
}

#about-text {
  padding-top: 15%;
}

#about-row {
  height: 90vh;
  background-color: black;
}

#about-button {
  margin-left: 44%;
}

#small-descriptor {
  border-right: solid 1px white;
  display: inline;
  height: 10vh;
}

#second-small-descriptor {
  display: inline;
}

#small-descriptor p, #second-small-descriptor  p {
  font-size: 1vw;
  color: white;
}
