#logo {
  font-size: 2em;
  font-family: "Hanken Grotesk Black";
  color: #5D486D;
}

#athena-nav p {
  font-family: "Hanken Grotesk";
  color: black;
  font-size: 1.2em;
  margin-top: 1em;
}

#athena-nav {
  height: 10vh;
}

@font-face {
  font-family: "Hanken Grotesk";
  src: url("fonts/HankenGrotesk-Regular.eot");
  src:url("fonts/HankenGrotesk-Regular.woff")format("woff"),
  url("fonts/HankenGrotesk-Regular.otf")format("opentype")
}

@font-face {
  font-family: "Hanken Grotesk Black";
  src: url("fonts/HankenGrotesk-Black.eot");
  src:url("fonts/HankenGrotesk-Black.woff")format("woff"),
  url("fonts/HankenGrotesk-Black.otf")format("opentype")
}

@font-face {
  font-family: "Hanken Grotesk Medium";
  src: url("fonts/HankenGrotesk-Medium.eot");
  src:url("fonts/HankenGrotesk-Medium.woff")format("woff"),
  url("fonts/HankenGrotesk-Medium.otf")format("opentype")
}
