#ladder-text {
  max-height: 90vh;
  padding: 10%;
}

#ladder-img {
  max-height: 90vh;
  padding: 10%;
}

@media screen and (max-width: 600px) {
  #ladder-text {
    max-height: 90vh;
    padding: 5%;
  }

  #ladder-img {
    height: 30vh;
    padding: 5%;
  }
}
