#banner-row {
  height: 90vh;
  color: black;
}

#ladder-text {
  padding-top: 5%;
}

#ladder-img {
  padding-top: 5%;
}

@media screen and (max-width: 600px) {
  #banner-row {
    height: 30vh;
  }

  #ladder-img {
    padding-top: 5%;
    height: 25vh;
  }
}
