#footer-row {
  padding-top: 5vh;
  padding-left: 15vw;
  padding-right: 15vw;
  display: inline-flex;
  width: 100%;
}

#footer-row h4 {
  font-size: 0.8em;
}
#footer-row p, #footer-row a {
  font-size: 0.6em;
}

#mission {
  width: 30%;
  margin-right: 40%;
}

#pages, #social, #numbers {
  width: 40%;
}

#cols {
  display: inline-flex;
  width: 50%;
}

@media screen and (max-width: 600px) {
  #footer-row {
    display: block;
  }

  #mission {
    width: 100%;
    margin-right: 0;
  }

  #cols {
    width: 100%;
  }
}
