#about-row {
  background-color: #F3EAFD;
  padding-left: 16vw;
  padding-right: 16vw;
}

#about-h {
  margin-top: 20vh;
  margin-right: -2vw;
}

#athena-hero {
  margin-top: 10vh;
}

@media screen and (max-width: 600px) {
  #about-h {
    margin-top: 15vh;
  }

  #athena-hero {
    margin-top: 0;
    visibility: hidden;
  }
}

#underlined-h:after {
  content: url("../images/underline-header.svg");
  position: absolute;
  margin-top: 10px;
  margin-left: -135px;
}
