#hero-row {
  background-color: #F3EAFD;
  padding-left: 16vw;
  padding-right: 16vw;
  width: 100%;
  display: inline-flex;
}

#about-h {
  margin-top: 20vh;
  margin-right: -2vw;
}

#athena-hero {
  margin-top: 10vh;
}

#underlined-h:after {
  content: url("../images/underline-header.svg");
  position: absolute;
  margin-top: 10px;
  margin-left: -135px;
}

@media only screen and (min-width: 401px) and (max-width: 960px) {
  #athena-hero {
    display: none;
  }

  #about-h .athena-primary {
    margin-bottom: 10vh;
  }
}

@media screen and (max-width: 600px) {
  #about-h {
    margin-top: 15vh;
  }

  #athena-hero {
    margin-top: 0;
    display: none;
  }

  #about-h .athena-primary {
    margin-bottom: 5vh;
  }

}
