html, body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Work Sans",
    sans-serif;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div, Button, .ranking-badge, Input {
  border-radius: 0;
}

row {
  overflow-x: none;
}

h1 {
  font-family: "Work Sans";
  font-weight: bold;
  color: rgb(0,0,0,0.87);
  font-size: 2.2em;
}

h2 {
  font-family: "Work Sans";
  color: rgb(0,0,0,0.87);
  font-size: 2.5em;
}

h3 {
  font-family: "Work Sans";
  color: rgb(0,0,0,0.8);
  font-size: 1.2em;
}

h5, p {
  font-family: "Work Sans";
  color: rgb(0,0,0,0.54);
  font-size: 1em;
}

.athena-primary {
  font-family: "Work Sans";
  font-weight: bold;
  background-color: transparent;
  padding: 0;
  border: none;
  color: black;
  text-align:left;
  font-size: 1em;
}

.athena-secondary {
  font-family: "Work Sans";
  font-weight: bold;
  background-color: transparent;
  padding: 0;
  border: none;
  color: #F3CD1A;
  text-align:left;
  font-size: 1em;
}

.athena-primary:hover {
  background-color: #F3CD1A;
  border-radius: 0;
  color: black;
}
