html, body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  border-radius: 0 !important;
}

header {
  font-size: 1.2rem;
}

h1 {
  font-family: "Hanken Grotesk Black";
  font-size: 7vw;
}

h2 {
  font-family: "Hanken Grotesk Black";
  font-size: 3vw;
}

p {
  font-family: "Hanken Grotesk";
  font-size: 2vw;
}

.athena-primary {
  font-family: "Hanken Grotesk Black";
  background-color: black;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 1.5vw;
  padding-left: 2%;
  padding-right: 2%;
}

.athena-primary-white {
  font-family: "Hanken Grotesk Black";
  background-color: white;
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 1.5vw;
  padding-left: 2%;
  padding-right: 2%;
}
