html, body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Hanken Grotesk", "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div, Button, .ranking-badge, Input {
  border-radius: 0 !important;
}

h1 {
  font-family: "Hanken Grotesk Black";
  font-size: 2.5em;
}

h2 {
  font-family: "Hanken Grotesk Black";
  font-size: 2.5em;
}

h3 {
  font-family: "Hanken Grotesk Black";
  font-size: 2em;
}

h5, p {
  font-family: "Hanken Grotesk";
  font-size: 1em;
}

.athena-primary {
  font-family: "Hanken Grotesk Medium";
  background-color: black;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 1.4em;
  padding-left: 10%;
  padding-right: 10%;
}

.athena-secondary {
  font-family: "Hanken Grotesk Medium";
  background-color: #9A8DA4;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 1.4em;
  padding-left: 10%;
  padding-right: 10%;
}

.athena-primary-white {
  font-family: "Hanken Grotesk Medium";
  background-color: white;
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 1.4em;
  padding-left: 10%;
  padding-right: 10%;
}
