#landing-row p {
  color: white;
  font-family: "Hanken Grotesk Black";
  font-size: 4vw;
  padding-top: 5%;
  padding-left: 5%;
  padding-bottom: 25%;
}

#landing-row a {
  font-family: "Hanken Grotesk";
  font-size: 4vw;
  padding-left: 5%;
  padding-bottom: 5%;
  color: white;
}

#landing-row a:hover {
  text-decoration: underline;
}

#landing-row {
  max-height: 95vh;
  background-color: #5D486D;
}

#categories {
  background-color: #5D486D;
}

#side-img {
  background-color: white;
}

#side-img img {
  padding: 5vh;
  height: 90vh;
  width: 75vh;
}

@media screen and (max-width: 600px) {
  #landing-row p {
    padding-bottom: 0;
  }

  #side-img img {
    padding: 0;
    height: 35vh;
    width: 30vh;
    overflow: hidden;
  }
}
