.sign-up, .sign-in {
  margin-top: 5vh;
  margin-left: 30vw;
  width: 35vw;
  border: solid 1px #F3EAFD;
  padding-top: 2vh;
  padding-left: 4vw;
  padding-right: 4vw;
}

Form {
  font-family: "Work Sans";
  padding-top: 1vh;
  padding-bottom: 5vh;
}

Form p {
  font-family: "Work Sans";
  font-size: 0.8em;
  color: red;
}

.sign-up h5, .sign-in h5 {
  font-family: "Work Sans";
  font-size: 0.8em;
}

.sign-up h2, .sign-in h2 {
  font-family: "Work Sans";
  font-size: 1.5em;
  font-weight: bold;
}


@media screen and (max-width: 600px) {
  .sign-up, .sign-in {
    margin-left: 10vw;
    width: 80vw;
  }
}
