#athena-nav p, a {
  font-family: "Work Sans";
  color: black;
  font-size: 1em;
}

#athena-nav a:hover {
  border-bottom: 4px solid #F3CD1A;
  color: black;
}

#athena-nav {
  padding-top: 10vh;
  padding-left: 15vw;
  padding-right: 15vw;
  background-color: #F3EAFD;
}

@font-face {
  font-family: 'Work Sans', sans-serif;
  src: url('fonts/WorkSans-Regular.ttf');
  src: url('https://fonts.googleapis.com/css?family=Work+Sans:400,700');
}
