#logo {
  font-size: 1.5em;
  font-family: "Hanken Grotesk Black";
}

#athena-nav p, a {
  font-family: "Hanken Grotesk";
  color: black;
  font-size: 1em;
}

#athena-nav {
  padding-top: 2vh;
  padding-left: 10vw;
  padding-right: 10vw;
  background-color: #F3EAFD;
}

@font-face {
  font-family: "Hanken Grotesk";
  src: url("fonts/HankenGrotesk-Regular.eot");
  src:url("fonts/HankenGrotesk-Regular.woff")format("woff"),
  url("fonts/HankenGrotesk-Regular.otf")format("opentype")
}

@font-face {
  font-family: "Hanken Grotesk Black";
  src: url("fonts/HankenGrotesk-Black.eot");
  src:url("fonts/HankenGrotesk-Black.woff")format("woff"),
  url("fonts/HankenGrotesk-Black.otf")format("opentype")
}

@font-face {
  font-family: "Hanken Grotesk Medium";
  src: url("fonts/HankenGrotesk-Medium.eot");
  src:url("fonts/HankenGrotesk-Medium.woff")format("woff"),
  url("fonts/HankenGrotesk-Medium.otf")format("opentype")
}
