#pathways-row {
  padding-top: 2vh;
  padding-bottom: 5vh;
  padding-left: 16vw;
  padding-right: 16vw;
}

#pathways-header {
  text-align: center;
  padding-top: 5vh;
}

#pathways-row img {
  padding: 25px;
  height: 240px;
}

#pathways-row .athena-primary {
  font-size: 0.8em;
}

#path-cards p {
  font-size: 0.9em;
  text-align: left;
}

#path-cards {
  padding-top: 5vh;
}

#path-card, #path-card-r {
  height: 420px;
  width: 250px;
  border: 1px solid #F3EAFD;
  display: inline-flex;
  padding-bottom: 5px;
}

#path-card-r {
  margin-right: 4vw;
}

#underlined:after{
  content: url("../images/underline-association.svg");
  position: absolute;
  margin-top: 14px;
  margin-left: -120px;
}
#underlined-companies:after{
  content: url("../images/underline-companies.svg");
  position: absolute;
  margin-top: 14px;
  margin-left: -105px;
}
#underlined-schools:after{
  content: url("../images/underline-schools.svg");
  position: absolute;
  margin-top: 10px;
  margin-left: -75px;
}

@media screen and (max-width: 600px) {
  #path-card-r {
    margin-right: 0;
    margin-bottom: 1vh;
  }
}
