#reason-header {
  text-align: center;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

#reason-row {
  background-color: #F3EAFD;
  padding-top: 2vh;
  padding-left: 16vw;
  padding-right: 16vw;
  padding-bottom: 5vh;
}

#stats-img, #stats-img-sup {
  margin-bottom: 5vh;
  padding-left: 10vw;
}

#stats-img-sup {
  padding-left: 15vw;
}

#stats-img p, #stats-img-first p, #stats-img-sup p {
  font-weight: bold;
  color: rgb(0,0,0,0.87);
}

#stats-img-sup p:after {
  content: url("../images/underline-schools.svg");
  position: absolute;
  margin-top: 14px;
  margin-left: -70px;
}

#stats-img-first p:after, #stats-img p:after {
  content: url("../images/underline-schools.svg");
  position: absolute;
  margin-top: 14px;
  margin-left: -90px;
}

#reason-footer {
  text-align: center;
}

@media screen and (max-width: 600px) {
  #stats-img p:after {
    position: relative;
    margin-top: 0;
    margin-left: 0;
  }

  #stats-img, #stats-img-sup {
    margin-bottom: 5vh;
    padding-left: 0;
  }

  #stats-img-sup {
    padding-left: 0;
  }

}
