#reason-header {
  text-align: center;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

#reason-row {
  background-color: #F3EAFD;
  width: 100%;
  padding-top: 2vh;
  padding-left: 16vw;
  padding-right: 16vw;
  padding-bottom: 5vh;
}

#top-row, #bottom-row {
  display: inline-flex;
  padding-bottom: 2vh;
}

#bottom-row {
  padding-left: 5vw;
  padding-bottom: 5vh;
}

#stats-img {
  margin-right: 6vw;
}

#stats-img p, #stats-img-sup p {
  font-weight: bold;
  color: rgb(0,0,0,0.87);
}

#stats-img-sup p:after {
  content: url("../images/underline-schools.svg");
  position: absolute;
  margin-top: 14px;
  margin-left: -70px;
}

#stats-img p:after {
  content: url("../images/underline-schools.svg");
  position: absolute;
  margin-top: 14px;
  margin-left: -90px;
}

#reason-footer {
  text-align: center;
}

@media screen and (max-width: 600px) {
  #top-row {
    overflow-x: hidden;
  }

  #stats-img p:after {
    position: relative;
    margin-top: 0;
    margin-left: 0;
  }

}
