.athena-small-widget {
  height: 45vh;
  background: url("../images/rit.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-color: black;
}

#card-body {
  margin-top: 25vh;
  height: 10vh;
  color: white;
  background: rgba(154, 141, 164, 0.8);
}

.athena-small-widget p {
  font-size: 1vw;
}

.athena-small-widget h3 {
  font-size: 1.5vw;
  height: 3vw;
}

.ranking-badge {
  font-size: 1.2em;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #5D486D;
}
