#stats-header {
  text-align: center;
  padding-top: 5vh;
}

#stats-row {
  background-color: #F3EAFD;
  width: 100%;
  padding-top: 2vh;
  padding-left: 16vw;
  padding-right: 16vw;
  padding-bottom: 5vh;
}
