.athena-small-widget {
  height: 45vh;
  background: url("../images/rit.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-color: #F2F1F4;
}

.modal-table {
  margin-top: 5%;
  margin-left: 10%;
  margin-bottom: 5%;
}

.modal-table td {
  padding-left: 2%;
  width: 25%;
  border-left: 1px solid black;
}

.athena-modal-header h3 {
  padding-left: 12%;
}

.athena-modal-body h4 {
  padding-left: 12%;
}

.athena-modal-body h5 {
  padding-left: 12%;
  font-size: 1em;
  color: #505051;
}

.athena-modal-body p {
  color: #505051;
}

.athena-modal-footer {
  padding-right: 45%;
}

#card-body {
  height: 10vh;
  color: white;
  background: rgba(154, 141, 164, 0.9);
}

.modal-table p {
  font-size: 1em;
}

.athena-small-widget p {
  font-size: 0.9em;
}

.athena-small-widget h3 {
  text-align: center;
  padding-top: 25%;
  font-size: 1.5em;
}

.ranking-badge {
  font-size: 1.2em;
  padding-left: 5%;
  padding-right: 5%;
  background-color: inherit;
  border-bottom: solid 2.5px white;
}

.modal-table .no-border {
  border: none;
}

.review {
  font-style: italic;
}

.add-new-button {
  margin-top: 5%;
}

@media screen and (max-width: 600px) {
  .athena-small-widget h3 {
    font-size: 1em;
  }

  .athena-small-widget {
    height: 20vh;
  }

  .athena-small-widget h3 {
    padding-top: 10%;
    padding-bottom: 15%;
  }

}
