#company-row, #school-row, #association-row, #about-row {
  padding-top: 5vh;
  padding-left: 15vw;
  padding-right: 15vw;
  background-color: white;
}

#company-header, #school-header, #association-header {
  padding-top: 15vh;
  padding-left: 52vw;
  height: 30vh;
  background-color: #F3EAFD;
}

#about-header {
  padding-top: 10vh;
  padding-left: 49vw;
  height: 25vh;
  background-color: #F3EAFD;
}

#association-header h1, #school-header h1, #company-header h1, #about-header h1 {
  margin-top: 5vh;
}

#association-header h1:before {
  content: url("../images/association-header.svg");
  position: absolute;
  margin-top: -15vh;
  margin-left: -17vw;
}

#school-header h1:before {
  content: url("../images/school-header.svg");
  position: absolute;
  margin-top: -17vh;
  margin-left: -14vw;
}

#company-header h1:before {
  content: url("../images/company-header.svg");
  position: absolute;
  margin-top: -17vh;
  margin-left: -12vw;
}

.athena-small-widget {
  height: 32vh;
  width: 20vw;
  background: #FFFFFF;
  border: 1px solid #F3EAFD;
  box-shadow: 0 0 15px 0 #F3EAFD;
  margin-bottom: 2vh;
}

.athena-small-widget p {
  font-size: 0.9em;
  height: 4vh;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.athena-small-widget h3 {
  font-size: 1.1em;
  font-weight: bold;
  height: 8vh;
}

.athena-small-widget .athena-primary {
  font-size: 0.8em;
  margin-bottom: 2vh;
}

.tag-list {
  display: inline-flex;
  height: 3vh;
  width: 100%;
  overflow-x: scroll;
}

.tag-list::-webkit-scrollbar {
  display: none;
}

.badge {
  background-color: #F3EAFD;
  color: rgb(0,0,0,0.54);
  border-radius: 0;
  margin-right: 0.5vw;
}

#athena-load {
  margin-top: 5vh;
  margin-left: 30vw;
  margin-bottom: 15vh;
}

#loading {
  margin-top: 5vh;
  margin-left: 46vw;
  border-radius: 50% !important;
}

.athena-modal-header, .athena-modal-body, .athena-modal-footer {
  padding-left: 8vw;
  padding-right: 8vw;
}

.athena-modal-header {
  background-color: #F3EAFD;
}

.athena-modal-header h4 {
  font-size: 1.2em;
  font-weight: bold;
  color: rgb(0,0,0,0.8);
}

.athena-modal-body h5 {
  font-size: 1em;
  color: rgb(0,0,0,0.6);
}

.athena-modal-body h4 {
  font-size: 1em;
  font-weight: bold;
  color: rgb(0,0,0,0.8);
  margin-top: 5vh;
}

.athena-modal-body p {
  color: #505051;
}

.athena-modal-footer .athena-primary {
  margin-right: 10vw;
}

.review {
  font-style: italic;
}

@media screen and (max-width: 600px) {
  #association-header h1:before,  #school-header h1:before, #company-header h1:before {
    display: none;
  }

  #company-header, #school-header, #association-header, #about-header {
    padding-top: 5vh;
    padding-left: 5vw;
    height: 20vh;
    text-align: center;
  }

  #loading {
    margin-left: 35vw;
  }

  .athena-small-widget h3 {
    font-size: 1.2em;
    height: 5vh;
  }

  .athena-small-widget p {
    height: 2vh;
  }

  .athena-small-widget {
    height: auto;
    width: 70vw;
    margin-bottom: 1vh;
  }
}
