#company-row, #school-row, #association-row, #about-row {
  padding-top: 5vh;
  padding-left: 15vw;
  padding-right: 15vw;
}

#company-header, #school-header, #association-header, #about-header {
  padding-top: 2vh;
  text-align: center;
  height: 20vh;
  background-color: #F3EAFD;
	filter: drop-shadow(0 6px 3px rgba(0, 0, 0, 0.1));
}

#about-header h1, #association-header h1, #school-header h1, #company-header h1, #about-header h1 {
  margin-top: 5vh;
}

#company-header h1:after {
  content: url("../images/header-underline.svg");
  position: absolute;
  margin-left: -200px;
  margin-top: 15px;
}

#association-header h1:after {
  content: url("../images/header-underline.svg");
  position: absolute;
  margin-left: -210px;
  margin-top: 15px;
}

#school-header h1:after {
  content: url("../images/header-underline.svg");
  position: absolute;
  margin-left: -170px;
  margin-top: 15px;
}

#about-header h1:after {
  content: url("../images/header-underline.svg");
  position: absolute;
  margin-left: -150px;
  margin-top: 15px;
}

.athena-small-widget {
  height: 25vh;
  width: 20vw;
  margin-bottom: 2vh;
  border: 0.5px solid #F3EAFD;
  filter: drop-shadow(2px 2px 0 rgba(0, 0, 0, 0.1));
}

#separator {
  margin-top: -5%;
  margin-bottom: -10%;
}

.athena-small-widget h3 {
  font-size: 0.9em;
  font-weight: bold;
  text-align: center;
  height: 15%;
  display: block;
}

.athena-small-widget .athena-primary {
  font-size: 0.8em;
  font-weight: bold;
  margin-bottom: 10%;
  margin-left: 25%;
}

.tag-list {
  display: inline-flex;
  height: 14%;
  width: 100%;
  overflow-x: scroll;
  margin-bottom: 5%;
}

.tag-list::-webkit-scrollbar {
  display: none;
}

.badge {
  background-color: #F3EAFD;
  color: rgb(0,0,0,0.54);
  border-radius: 0;
  margin-right: 0.5vw;
  font-weight: normal;
  font-family: "Work Sans";
}

#athena-load {
  margin-top: 5vh;
  margin-left: 30vw;
  margin-bottom: 15vh;
}

#loading {
  margin-top: 5vh;
  margin-left: 46vw;
  border-radius: 50% !important;
}

.athena-modal-header, .athena-modal-body, .athena-modal-footer {
  padding-left: 8vw;
  padding-right: 8vw;
}

.athena-modal-header {
  background-color: #F3EAFD;
}

.athena-modal-header h4 {
  font-size: 1.2em;
  font-weight: bold;
  color: rgb(0,0,0,0.8);
}

.athena-modal-body h5 {
  font-size: 1em;
  color: rgb(0,0,0,0.6);
}

.athena-modal-body h4 {
  font-size: 1em;
  font-weight: bold;
  color: rgb(0,0,0,0.8);
  margin-top: 5vh;
}

.athena-modal-body p {
  color: #505051;
}

.athena-modal-footer .athena-primary {
  margin-right: 10vw;
}

.review {
  font-style: italic;
}

@media screen and (max-width: 600px) {
  #association-header h1:before,  #school-header h1:before, #company-header h1:before {
    display: none;
  }

  #company-header, #school-header, #association-header, #about-header {
    padding-top: 5vh;
    padding-left: 5vw;
    height: 20vh;
    text-align: center;
  }

  #loading {
    margin-left: 35vw;
  }

  .athena-small-widget h3 {
    font-size: 1.2em;
    height: 5vh;
  }

  .athena-small-widget p {
    height: 2vh;
  }

  .athena-small-widget {
    height: auto;
    width: 70vw;
    margin-bottom: 1vh;
  }
}
