#App {
  //position: relative;
  //width: 100%;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  //display: flex;
  //flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

#backgoundImg {
  width: 895px;
  //padding-left: 30%;
}

#sideCircle {
  margin-top: 67%;
  //margin-left: -20%;
  opacity: 0.7;
}

.App-link {
  color: #61dafb;
}

a:visited {
  text-decoration: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
