.App {
  position: relative;
  width: 100%;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.backgoundImg {
  width: 70%;
  padding-left: 30%;
}

.sideCircle {
  width: 60%;
  margin-top: -29%;
  margin-left: -20%;
  opacity: 0.7;
}

.App-link {
  color: #61dafb;
}

a:visited {
  text-decoration: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
