#Navbar {
  width: 100%;
  position: absolute;
  font-size: calc(8px + 2vmin);
  z-index: 1;
}

#home {
  font-size: calc(18px + 2vmin);
  font-weight: bold;
  padding-left: 4%;
  margin-top: -1%;
}

#tabs {
  display: flex;
  padding-left: 43%;
}

a {
  padding-left: 8%;
  display: flex;
  width: 40%;
  text-decoration: none;
  color: black;
}

.loginIcon {
  width: 30%;
  margin-top: -20%;
  display: inline-flex;
  padding-left: 5%;
}
